html,body {
    background: #f8f8f8;
    color: #383838;
    font-family: system, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Lucida Grande", "Segoe UI";
    margin: 0;
    padding: 0;
}

.header {
    font-size: 36px;
    font-weight: 100;
    text-align: center;
    margin: 20px;
    margin-top: 40px;
}


@import 'dna-grid/grid';
@import 'dna-image/dna-image';
@import 'dna-renderer/renderer';
@import 'uploader/uploader';
