
.form-group {
  width: 300px;
  margin: 14px;
  border-bottom: 1px solid #E6E6E6;
  overflow: hidden;
  padding-bottom: 20px;
  padding: 17px;
  box-sizing: border-box;
  border-radius: 2px;
}

.input-group {
}

.form {
  max-width: 700px;
  margin: 40px auto;
  background: white;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

  .form header {
      color: rgb(58, 58, 58);
      font-size: 17px;
      font-weight: 300;
      margin-bottom: 20px;
  }

.form-checkbox-group{
  margin: 20px 0;
}

.form-button {
  max-width: 200px;
  margin: 30px;
  border: none;
  background: rgb(26, 78, 122);
  color: white;
  line-height: 38px;
  text-align: center;
  border-radius: 2px;
  overflow: hidden;
  padding: 0px 15px;
}

  .form-button:hover {
      background: rgb(22, 64, 100);
  }

  .form-button:active {
      background: rgb(20, 60, 94);
  }

.group-button{
  border: none;
  background: rgb(26, 78, 122);
  color: white;
  line-height: 38px;
  text-align: center;
  border-radius: 2px;
  overflow: hidden;
  padding: 0px 15px;
}

  .group-button:hover {
      background: rgb(22, 64, 100);
  }

  .group-button:active {
      background: rgb(20, 60, 94);
  }


input[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}

  input[type=range]:focus {
      outline: none;
  }

  input[type=range]::-webkit-slider-runnable-track {
      width: 100%;
      height: 13px;
      cursor: pointer;
      background: #3071a9;
  }

  input[type=range]::-webkit-slider-thumb {
      height: 13px;
      width: 12px;
      background: rgba(0, 0, 0, 0.3);
      cursor: pointer;
      -webkit-appearance: none;
  }

  input[type=range]:focus::-webkit-slider-runnable-track {
      background: #367ebd;
  }

  input[type=range]::-moz-range-track {
      width: 100%;
      height: 13px;
      cursor: pointer;
      background: #3071a9;
      border: 0px solid #010101;
  }

  input[type=range]::-moz-range-thumb {
      border: 1px solid #000000;
      height: 13px;
      width: 12px;
      background: rgba(0, 0, 0, 0.3);
      cursor: pointer;
  }

  input[type=range]::-ms-track {
      width: 100%;
      height: 13px;
      cursor: pointer;
      background: transparent;
      border-color: transparent;
      color: transparent;
  }

  input[type=range]::-ms-fill-lower {
      background: #2a6495;
      border: 0px solid #010101;
  }

  input[type=range]::-ms-fill-upper {
      background: #3071a9;
      border: 0.2px solid #010101;
  }

  input[type=range]::-ms-thumb {
      border: 0px solid #000000;
      height: 13px;
      width: 12px;
      background: rgba(0, 0, 0, 0.3);
      cursor: pointer;
  }

  input[type=range]:focus::-ms-fill-lower {
      background: #3071a9;
  }

  input[type=range]:focus::-ms-fill-upper {
      background: #367ebd;
  }
